html,body{
    width: 100%;
    height: 100%;
}

body{
    margin:0;
    padding:0;
    display: grid;
    place-items: center;
}
canvas {
    image-rendering: pixelated;
    height: 75vh !important;
    width: auto !important;
}